set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




CREATE PROCEDURE [dbo].[GetMessages] 
	@Queue			nvarchar(50),
	@Count			int = 1,
	@TimeToReceive	int = 120,
	@TimeToLive		int = 604800,
	@Debug			int = 0
	
AS
BEGIN
    
    SET NOCOUNT ON

    DECLARE
        @Error              int,
        @Return             int,
        @Msg                nvarchar(1000),
        @GUID               nvarchar(36),
        @TimeNow            nvarchar(25),
		@SqlCreateBatch		nvarchar(1000),
		@SqlSelect			nvarchar(1000)

    -- init
    SET @Error    = 0
    SET @Return   = 0

    SELECT @GUID     = CONVERT(nvarchar(36),NEWID())
	SELECT @TimeNow  = CONVERT(varchar(25),GETDATE(),21) 
	
	IF @TimeToReceive = 0 OR @TimeToReceive > 120
		BEGIN
			SET @TimeToReceive = 30
		END
	
	IF @TimeToLive = 0 OR @TimeToLive > 604800
		BEGIN
			SET @TimeToLive = 604800
		END

    SET ROWCOUNT @Count

	-- Mark our subset of rows with a unique GUID

	BEGIN TRANSACTION
	SET @SqlCreateBatch = N'
		UPDATE TOP (' + CONVERT(nvarchar(10),@Count) + ') [dbo].[' + @Queue + '] WITH (ROWLOCK, READPAST)
			SET	ReceiveId            = ''' + @GUID + ''',
				Status      = ''I'',
				Received = ''' + @TimeNow + ' ''
				
			FROM [dbo].[' + @Queue + '] WITH (UPDLOCK, ROWLOCK, READPAST)
			WHERE Status = ''U'''

	SET @SqlCreateBatch = @SqlCreateBatch + N'
					OPTION (MAXDOP 1)'		

	IF @Debug = 0
		BEGIN
			EXEC sp_executesql @SqlCreateBatch
		END
	ELSE
		BEGIN
			PRINT @SqlCreateBatch
		END

    -- Check for errors and abort if found
    SELECT @Error = @@ERROR
        IF @Error <> 0 BEGIN
			ROLLBACK
            SELECT @Msg = 'Error... [GetMessages]: Error creating batch, GUID: ' + @GUID
            GOTO lbl_abort
        END

	-- Build the result set to return based on the GUID
	SET @SqlSelect = N'
	SELECT 
		''' + @Queue + ''' AS ''QueueName'',
		[ReceiveId],
		[MessageId],
		[DequeueCount],
		[Status],
		[TimeToLive],
		[TimeToReceive],
		[Inserted],
		[Received],
		[Expires],
		[Body]
	FROM [dbo].[' + @Queue + ']
	WHERE Status = ''I''
		AND ReceiveId = ''' + @GUID + '''
	ORDER BY Id ASC
	OPTION (MAXDOP 1)'

	IF @Debug = 0
		BEGIN
			EXEC sp_executesql @SqlSelect
		END
	ELSE
		BEGIN
			PRINT @SqlSelect
		END


    -- Check for errors and abort if found
    SELECT @Error = @@ERROR
        IF @Error <> 0 BEGIN
			ROLLBACK TRAN
            SELECT @Msg = 'Error... [GetMessages]: Error selecting batch. GUID: ' + @GUID
            GOTO lbl_abort
        END

	COMMIT
    --  Done, exit procedure
    GOTO lbl_end

lbl_abort:
	IF @@TRANCOUNT > 0
	BEGIN
		ROLLBACK TRAN
	END

    SET @Return = ISNULL(@Return,100)
    SET @Msg = ISNULL(@Msg,'Error... [GetMessages]: aborted!')
    RAISERROR(@Msg,16,-1)

lbl_end:
	IF @@TRANCOUNT > 0
	BEGIN
		ROLLBACK TRAN
	END

    SET NOCOUNT OFF
    SET ROWCOUNT 0

    RETURN @Return

END 


